/* Colour palette 242331, 533E2D, A27035, B88B4A, DDCA7D */
html {
    height:100%;
    background-color:hsla(0,100%,50%,1);
background-image:
radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}

body {
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding:5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

h1 {
    color: #F2F4FF;
    font-size:40px;
}

h2 {
    color: #F2F4FF;
    display: flex;
    justify-content: center;
}

p {
    color: #F2F4FF;
    font-size:30px;
}
.header {
    display:flex;
    justify-content: center;
}

.footer {
    display:flex;
    justify-content: center;
}
.container {
    display:flex;
    justify-content: space-around;
}


.scoreContainer {
    padding:40px;
    display:flex;
    justify-content: space-around;

}

.compChoices {
    opacity:0.8;
    display:flex;
}

.playerChoices {
    display:flex;
}

.playerScore {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #F2F4FF;
    font-size:30px;
}

.computerScore {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #F2F4FF;
    font-size:30px;
    text-align: right;
}

.player {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.computer { 
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.middleContent {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:60px;
}

.middleText {
    margin-bottom: 50px;
    color: #F2F4FF;
}