/* Colour palette 242331, 533E2D, A27035, B88B4A, DDCA7D */

body {
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding:0px;
}

h1 {
    color: #F2F4FF;
}

h2 {
    color: #F2F4FF;
}

p {
    color: #F2F4FF;
    font-size:30px;
}
.header {
    display:flex;
    justify-content: center;
    background-color: #96C5F7;
}

.footer {
    display:flex;
    justify-content: center;
    background-color: #96C5F7;
}
.container {
    display:flex;
    justify-content: space-around;
    background-color: #96C5F7;
}

.scoreContainer {
    padding:100px;
    background-color: #96C5F7;
    display:flex;
    justify-content: space-between;

}

.playerScore {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.computerScore {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.player {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.computer { 
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.middleContent {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:100px;
}

.middleText {
    margin-bottom: 50px;
    color: #F2F4FF;
}